.container {
    display: flex;
}

.grid {
    width: 400px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    background-color: rosybrown;
}

.grid div {
   height: 40px; 
   width: 40px;

}

.tetromino {
    background-color: darkslateblue;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rosybrown;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}

h3{
    text-align: left;
    align-self: center;
    font-size: xx-large;
}

.score{
    font-size: 24px;
    font-weight: bold;
}

.start-button {
    font-size: 24px;
    padding: 10px 20px;
}